<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

      <main>
        <section class="formularyEdition1">
          <form action="/products/edition/<%= prod.id %>?_method=put" method="post" class="formularyEdition"
            enctype="multipart/form-data">
            <div class="formularyLebel">
              <label for="image">Subir imagen:</label>
            </div>
            <input type="file" id="image" name="image" accept="image/*" />
            <div>
              <% if (prod.image) { %>
                <img id="preview" src="/images/<%= prod.image %>" alt="Producto" style="width: 200px" />
                <% } else { %>
                  <img id="preview" src="" alt="Producto" style="width: 200px" />
                  <% } %>
            </div>

            <div class="formularyLebel">
              <label for="name">Modelo:</label>
            </div>
            <input type="text" class="titleName" id="titulo" name="name" value="<%= prod.name %>" />


            <div class="formularyLebel">
              <label for="brand">Marca:</label>
            </div>
            <select id="brand" name="brand" required>
              <% brand.forEach(brand=> { %>
                <option value="<%= brand.id %>" <%=prod.brand_id===brand.id ? "selected" : "" %>>
                  <%= brand.nameBrand %>
                </option>
                <% }) %>
            </select>
            
            <div class="formularyLebel">
              <label for="color">Color:</label>
            </div>

            <select class="titleName" id="color" name="color">
              <% colors.forEach(color=> { %>
                <option value="<%= color.id %>" <%=prod.color_id===color.id ? "selected" : "" %>>
                  <%= color.color %>
                </option>
                <% }) %>
            </select>

            <div class="formularyLebel">
              <label for="category">Tipo de bicicleta:</label>
            </div>

            <select class="titleName" id="category" name="category">
              <% categories.forEach(categ=> { %>
                <option value="<%= categ.id %>" <%=prod.category_id===categ.id ? "selected" : "" %>>
                  <%= categ.typeBike %>
                </option>
                <% }) %>
            </select>

            <div class="formularyLebel">
              <label for="size">Talle:</label>
            </div>

            <select class="titleName" id="size" name="size">
              <% size.forEach(size=> { %>
                <option value="<%= size.id %>" <%=prod.size_id===size.id ? "selected" : "" %>>
                  <%= size.size %>
                </option>
                <% }) %>
            </select>

            <div class="formularyLebel">
              <label for="gender">Género:</label>
            </div>

            <select class="titleName" id="gender" name="gender">
              <% genders.forEach(gend=> { %>
                <option value="<%= gend.id %>" <%=prod.gender_id===gend.id ? "selected" : "" %>>
                  <%= gend.gender %>
                </option>
                <% }) %>
            </select>

            <div class="formularyLebel">
              <label for="description">Descripción:</label>
            </div>
            <textarea name="description" id="description">
              <%= prod.description %></textarea>


            <div class="formularyLebel">
              <label for="price">Precio:</label>
            </div>
            <input type="number" id="precio" name="price" value="<%= prod.price %>" />

            <input type="submit" id="send" value="Guardar" />
          </form>
        </section>
      </main>

      <%- include('../partials/footer') %>
  </body>

</html>