<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>

      <main>
        <article class="carrousel">
          <img src="images/carrousel1.jpeg" alt="carrousel" />
        </article>

        <section class="cards">
          <div class="titleSale">
            <h2 style="color: yellow;">Ofertas</h2>
          </div>
          <section class="sales">
            <% products.forEach(prod=> { %>
              <% if (prod.sale_as && prod.sale_as.id==1) { %>
                <div class="card-sale">
                  <a href="/products/detail/<%= prod.id %>">
                    <div class="brandImg-sale">
                      <% if (prod.image) { %>
                        <img src="images/products/<%= prod.image %>" alt="<%= prod.model %>" />
                        <% } else { %>
                          <img src="images/products/images.png" alt="Default Image" />
                          <% } %>
                    </div>
                    <div class="titleProduct">
                      <h4>
                        <%= prod.model %>
                      </h4>
                    </div>
                  </div>
                  <% } %>
                    <% }) %>
                  </a>
          </section>

          <h2>Marcas</h2>
          <% brands.forEach(brand=> { %>
            <div class="card">
              <div class="brandImg">
                <% if (brand.image) { %>
                  <img src="images/brands/<%= brand.image %>" alt="<%= brand.nameBrand %>" />
                  <% } else { %>
                    <img src="images/brands/defaultBrand.png" alt="Default Image" />
                    <% } %>
              </div>
              <div class="titleProduct">
                <%= brand.nameBrand %>
              </div>
            </div>
            <% }) %>
        </section>
      </main>

      <%- include('partials/footer') %>
  </body>

</html>