<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <section class="sectionProfile">
      <div class="imgProfile">
        <img src="/images/profile/<%= user.image ? user.image : "profile.jpg" %>" alt="Perfil" />
      </div>

      <div class="dateProfile">
        <h3>Nombre:</h3><%= user.name %>
        <h3>Apellido:</h3><%= user.surname %>
        <h3>Correo Electronico:</h3><%= user.email %>
        <h3>Género:</h3><%= user.gender %>
        <h3>Rol:</h3><%= user.rol %>
      </div>
    </section>

    <%- include('../partials/footer') %>
  </body>
</html>
