<!DOCTYPE html>
<html lang="en">
<%- include('../partials/headUsers') %>
  <script src="/validations.js"></script>

  <body>
    <%- include('../partials/headerLogAndReg', { link: 'login' , texto: 'Login' }) %>

      <main>
        <div class="logo">
          <img src="/MoviGo.png" alt="Logo" />
        </div>

        <section class="formulary">
          <form action="/users/register" method="post" enctype="multipart/form-data" id="registerForm">

            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" placeholder="Nombre" required />
            <span class="error" id="error-name"></span>

            <label for="image">Foto de perfil:</label>
            <input type="file" class="image" id="image" name="profile" accept="image/*" />

            <label for="surname">Apellido:</label>
            <input type="text" id="surname" name="surname" placeholder="Apellido" required />
            <span class="error" id="error-surname"></span>

            <label for="date">Fecha de nacimiento:</label>
            <input type="date" id="date" name="date" required />
            <span class="error" id="error-date"></span>

            <label for="gender_id">Género</label>
            <select name="gender_id" id="gender_id" required>
              <option value="">Seleccionar</option>
              <% genders.forEach(gend=> { %>
                <option value="<%= gend.id %>">
                  <%= gend.gender %>
                </option>
                <% }) %>
            </select>

            <label for="rol_id">Rol</label>
            <select name="rol_id" id="rol_id" required>
              <option value="">Seleccionar</option>
              <% rol.forEach(roles=> { %>
                <option value="<%= roles.id %>">
                  <%= roles.rol %>
                </option>
                <% }) %>
            </select>

            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" placeholder="Correo electrónico" required />
            <span class="error" id="error-email"></span>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" placeholder="Contraseña" required />
            <span class="error" id="error-password"></span>

            <div class="check">
              <input type="checkbox" id="checkbox" name="checkbox" required />
              <label for="checkbox" class="conditions">
                Aceptar términos y condiciones
              </label>
            </div>

            <div class="sub">
              <button type="submit" id="input">Registrarse</button>
            </div>

          </form>
        </section>
      </main>
  </body>

</html>