<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

      <main>
        <section class="formularyEdition1">
          <form action="/products/create" method="post" class="formularyEdition" enctype="multipart/form-data">
            <div class="formularyLebel">
              <label for="image">Subir Imagen:</label>
            </div>
            <input type="file" class="image" id="image" name="image" accept="image/*" />

            <div class="formularyLebel">
              <label for="name">Modelo:</label>
            </div>
            <input type="text" class="titleName" id="name" name="name" />

            <div class="formularyLabel">
              <label for="brand">Marca:</label>
            </div>

            <select id="brand" name="brand" required>
              <option value="">--Selecciones la marca--</option>
              <% brands.forEach(brand=> { %>
                <option value="<%= brand.id %>">
                  <%= brand.nameBrand %>
                </option>
                <% }) %>
            </select>

            <div class="formularyLebel">
              <label for="color">Color:</label>
            </div>

            <select class="titleName" id="color" name="color">
              <option value="">--Selecciona un color--</option>
              <% colors.forEach(colors=> { %>
                <option value="<%= colors.id %>">
                  <%= colors.color %>
                </option>
                <% }) %>
            </select>

            <div class="formularyLebel">
              <label for="category">Tipo de bicicleta:</label>
            </div>

            <select class="titleName" id="category" name="category">
              <option value="">--Selecciona un categoria--</option>
              <% categories.forEach(categ=> { %>
                <option value="<%= categ.id %>">
                  <%= categ.typeBike %>
                </option>
                <% }) %>
            </select>

            <div class="formularyLebel">
              <label for="size">Talle:</label>
            </div>

            <select class="titleName" id="size" name="size">
              <option value="">--Selecciona un talle--</option>
              <% size.forEach(size=> { %>
                <option value="<%= size.id %>">
                  <%= size.size %>
                </option>
                <% }) %>
            </select>

            <div class="formularyLebel">
              <label for="gender">Género:</label>
            </div>

            <select class="titleName" id="gender" name="gender">
              <option value="">--Selecciona un género--</option>
              <% gender.forEach(gender=> { %>
                <option value="<%= gender.id %>">
                  <%= gender.gender %>
                </option>
                <% }) %>
            </select>

            <div class="formularyLebel">
              <label for="description">Descripción:</label>
            </div>
            <textarea name="description" id="description"></textarea>

            <div class="formularyLebel">
              <label for="price">Precio:</label>
            </div>
            <input type="number" id="precio" name="price" />

            <input type="submit" id="send" value="Guardar" />
          </form>
        </section>
      </main>

      <%- include('../partials/footer') %>
  </body>

</html>