<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    
    <main>
        <div class="PContain">
            <div class="contain">
                <h2 class="titleProd"><%= product.titulo %></h2>
                <div class="product">
                    <img src="/images/olmoWish.jpg" alt="product">
                </div>
    
                <div class="infoPriceAndUser">
                    <div class="price">
                        <div class="lastPrice">
                            <%= product.precio %>
                        </div>
                        <div class="nowPrice">
                            $420.000
                        </div>
                    </div>
            
                    <div class="infoUser">
                        <div class="user">
                            Vendido por:<strong>User</strong>
                        </div>
                        <div class="clasification">
                            ⭐⭐⭐⭐⭐
                        </div>
                    </div>
                </div>
    
                <section class="btn">
                    <a href="#">Comprar</a>
                    <a href="/products/cart">Agregar al carrito</a>
                </section>
            </div>
            
            <div class="contain2">
                <section class="infoProduct">
                    <h2>Descripción</h2>
                    <table>
                        <tr class="tr1">
                            <td>Marca</td>
                            <th>Olmo</th>
                        </tr>
                        <tr>
                            <td>Linea</td>
                            <th>Wish</th>
                        </tr>
                        <tr class="tr1">
                            <td>Modelo</td>
                            <th><%= product.categoria %></th>
                        </tr>
                        <tr>
                            <td>Edad</td>
                            <th>Adultos</th>
                        </tr>
                        <tr class="tr1">
                            <td>Año</td>
                            <th>2021</th>
                        </tr>
                        <tr>
                            <td>Género</td>
                            <th>Masculino</th>
                        </tr>
                        <tr class="tr1">
                            <td><%= product.color %></td>
                            <th>Negro/Naranja</th>
                        </tr>
                    </table>
                </section>
        
                <section class="comentaryUsers">
                    <h2>Reseñas</h2>
                    <div class="userComent">
                        <span class="imageProfile">
                            <img src="/images/images.png" alt="imageProfile">
                        </span>
                        <div class="userName">
                            <div class="name">
                                User (Hace 17 horas)
                            </div>
                            <div class="clasificationD">
                                ⭐⭐⭐⭐⭐
                            </div>
                        </div>
                    </div>
        
                    <div class="publicComentary">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aliquid ducimus atque. A recusandae voluptates facere mollitia voluptate temporibus ullam hic, reiciendis officia neque dolore vitae incidunt voluptatum distinctio exercitationem.
                    </div>
                </section>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>