<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    
    <main>
        <% if (product) { %>
            <div class="PContain">
                <div class="contain">
                    <h2 class="titleProd"><%= product.name %></h2>
                    <div class="product">
                        <img src="/images/products/<%= product.image %>" alt="product">
                    </div>
        
                    <div class="infoPriceAndUser">
                        <div class="price">
                            <div class="lastPrice">
                                $1000
                            </div>
                            <div class="nowPrice">
                                <%= product.price %>
                            </div>
                        </div>
                
                        <div class="infoUser">
                            <div class="user">
                                Vendido por:<strong>User</strong>
                            </div>
                            <div class="clasification">
                                ⭐⭐⭐⭐⭐
                            </div>
                        </div>
                    </div>
        
                    <section class="btn">
                        <a href="#">Comprar</a>
                        <a href="/products/cart">Agregar al carrito</a>
                        <a href="/products/edition/<%= product.id %>">Editar</a>
                    </section>
                    <form action="/products/delete/<%= product.id %>?_method=DELETE" method="post">
                        <button type="submit">Eliminar producto</button>
                    </form>
                </div>
                
                <div class="contain2">
                    <section class="infoProduct">
                        <h2>Descripción</h2>
                        <table>
                            <tr class="tr1">
                                <td>Marca</td>
                                <th><%= product.brand %></th>
                            </tr>
                            <tr>
                                <td>Linea</td>
                                <th><%= product.line %></th>
                            </tr>
                            <tr class="tr1">
                                <td>Dedicado a</td>
                                <th><%= product.type %></th>
                            </tr>
                            <tr>
                                <td>Edad</td>
                                <th><%= product.category %></th>
                            </tr>
                            <tr class="tr1">
                                <td>Año</td>
                                <th>2021</th>
                            </tr>
                            <tr>
                                <td>Género</td>
                                <th><%= product.gender %></th>
                            </tr>
                            <tr class="tr1">
                                <td>Color</td>
                                <th><%= product.color %></th>
                            </tr>
                        </table>
                    </section>
            
                    <section class="comentaryUsers">
                        <h2>Reseñas</h2>
                        <div class="userComent">
                            <span class="imageProfile">
                                <img src="/images/images.png" alt="imageProfile">
                            </span>
                            <div class="userName">
                                <div class="name">
                                    User (Hace 17 horas)
                                </div>
                                <div class="clasificationD">
                                    ⭐⭐⭐⭐⭐
                                </div>
                            </div>
                        </div>
            
                        <div class="publicComentary">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aliquid ducimus atque. A recusandae voluptates facere mollitia voluptate temporibus ullam hic, reiciendis officia neque dolore vitae incidunt voluptatum distinctio exercitationem.
                        </div>
                    </section>
                </div>
            </div>
        <% } else { %>
            <p>No se encontró el producto.</p>
        <% } %>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>